.header__logo {
  max-width: 142px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 619px) {
  .header__logo {
    max-width: 104px;
    margin-bottom: 32px;
    padding-left: 8px;
  }
}
