.popup__submit-btn {
  width: 100%;
  height: 50.15px;
  margin-top: 38px;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
}

.popup__submit-btn:hover:enabled {
  opacity: .8;
}
