.header__menu-link {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.header__menu-link:hover {
  opacity: 0.6;
}
