.popup__close-btn {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background: url('../../../images/close.svg') center no-repeat;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media only screen and (max-width: 619px) {
  .popup__close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 52px;
    height: 52px;
  }
}
