.form__input {
  border: 0;
  width: 100%;
  height: 42px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #bcbcc4;
  background: transparent;
}

.form__input:first-of-type {
  margin-top: 40px;
}

.form__input:last-of-type {
  margin-top: 16px;
}

.form__input:focus {
  outline-style: none;
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: 619px) {
  .form__input {
    margin-bottom: 10px;
  }

  .form__input:first-of-type {
    margin-top: 24px;
  }
}
